<div class="form-container">

  <img src="https://img.clipartfest.com/78ab16d8def7a8c3966fe6748d049f49_caduceus-medicine-clipart-transparent_600-600.png" id="lock">
  <h1 class="title">Epic Takedown</h1>


    <span class="error" *ngIf="error">{{ error }}</span>


  <button routerLink="/login-email" id="email">Login</button>
  <button routerLink="/signup" routerLinkActive="active" id="signup">Sign Up</button>

  <a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>
</div>